.parent {
  height: 100%;
  .navbar {
    width: 100%;
    background: white;
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;

    & > .leftItems {
    }

    & > .rightItems {
      margin-left: auto;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      padding: 0.5rem 1rem;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > .outletParent {
    height: calc(100% - 51px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
